.place__title {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
  }
}
