
/*
.photo-grid {

  margin: 0 48px 0;
}

@media (max-width: 768px) {
  .photo-grid  {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 320px) {
  .photo-grid  {
    padding-left: 16px;
    padding-right: 16px;
  }
}
*/
