.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
}

@media (max-width: 768px) {
  .places {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 320px) {
  .places {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
