.lead {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  margin: auto;
}

@media (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 768px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .lead {
    /*padding-top: 48px;*/
    padding: 0;
  }
}
