.header {
  display: flex;
  justify-content: space-between;
  max-height: 52px;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
