.place__text-container {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media (max-width: 768px) {
  .place__text-container {
    row-gap: 25px;
  }
}

@media (max-width: 320px) {
  .place__text-container {
   margin: 0 16px 0;
  }
}
