.lead__title {
  margin: 0;
  font-size: 96px;
  font-family: "Inter Black";
  font-weight: normal;
  color: #fff;
  max-width: 720px;
  text-align: center;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
}

@media (max-width: 768px) {
  .lead__title {
    /*font-size: 50px;*/
    font-size: calc(100vw/100*9.5);
    max-width: calc(100vw/100*67.8);
  }
}

@media (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    max-width: 288px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    max-width: 288px;
  }
}
