.intro {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  align-items: baseline;
  margin: auto;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .intro {
    padding-left: 48px;
    margin: 0;

  }
}

@media (max-width: 768px) {
  .intro {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .intro {
    /*padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;*/
    margin: 64px 16px 0;
    padding: 0;
  }
}
