.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 640px;
  padding: 32px 0 64px;
  margin: 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    padding: 32px 0 56px;
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    padding: 32px 0 56px;
    font-size: 3.9vw;
    line-height: 120%;
    max-width: 640px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    /*padding: 16px 0 40px;*/
    padding: 0;
    margin: 16px 16px 40px;
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
}
