.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1184px;
  height: 57.8vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    height: 62.5vw;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 768px;
    height: 62.5vw;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .cover {
    max-width: 320px;
    max-height: 200px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 66px;
  }
}
