.footer__row {
  display: flex;
  justify-content: space-between;
  /*max-width: 1184;*/
  padding-bottom: 24px;
  margin: 92px 48px 0;
}

@media (max-width: 1024px) {
  .footer__row {
    width: 90.6%;
  }
}

@media (max-width: 768px) {
  .footer__row {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 700px) {
  .footer__row {
    flex-direction: column;
    align-items: baseline;
    margin-left: 24px;
    row-gap: 48px;
  }
}

@media (max-width: 320px) {
  .footer__row {
    flex-direction: column;
    align-items: baseline;
    margin-left: 16px;
    margin-right: 118px;
    margin-top: 64px;
    row-gap: 48px;
  }
}
