.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  max-width: 560px;
}

@media (max-width: 768px) {
  .cover__title {
    /*font-size: 72px;*/
    font-size: 9.38vw;
    line-height: 106%;
    /*margin: 0 104px 0;*/
    /*padding: 0 13.5% 0;*/
  }
}

@media (max-width: 320px) {
  .cover__title {
    font-size: 10vw;
    line-height: 109%;
    max-width: 90%;
    margin: 0 16px 0;
  }
}
