.footer {
  margin: auto;
  padding-top: 92px;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 88px;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-top: 64px;
    margin: 0;
  }
}
